* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;

  width: 100vw;
}
.container .inner-container {
  width: 80%;
}

.container .inner-container .box {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.container .inner-container .box .box-content {
  height: 300px;
  width: 30%;
  padding: 1.4rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.container .inner-container .box .box-content .nameandprice {
  background-color: #ff0;
  height: 250px;
  min-width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: end;
  padding: 1rem;
}

.container .inner-container .box .box-content .btn {
  display: flex;
  justify-content: center;
}
.container .inner-container .box .box-content button {
  margin-top: 1rem;
  padding: 0.7rem 2rem;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: #03a1fc;
}
.price-table h2 {
  text-align: center;
  margin-bottom: 1rem;
}
table {
  width: 100%;
}
table tr {
  text-align: center;
}
.total-price {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
  font-weight: bold;
  font-size: 16px;
}
.total-price div {
  min-width: 80%;
  display: flex;
  justify-content: end;
}
input {
  background-color: black;
  color: #fff;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: none;
}
input {
  color: #fff;
}
input[type="number"]::placeholder {
  color: #fcf8f8;
  text-align: center;
}
